.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

.color {
    color: blueviolet;
}

.colorr {
    color: blueviolet;
}

.color-bg {
    background-color: blueviolet;
    color: #fff;
}

.btn:hover {
    color: #fff;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}