.chart {
  flex: 4;
  border: 1px solid rgb(207, 207, 207);
  padding: 14px;
  color: gray;
  width: 100%;
  height: 100%;

}

.title {
  margin-bottom: 20px;
}

.chartGrid {
  stroke: rgb(228, 225, 225);
}